{% extends 'main/base.html' %}
{% load static %}
{% load event_extras %}

{% block style %}
    <style>
        /* - FIX Datepicker -*/
        .bootstrap-datetimepicker-widget.dropdown-menu {
            width: 250px;
        }

        body {
            background-color: #29abe2;
        }

        span {
            font-size: 14px;
            font-family: 'Open Sans', sans-serif !important;
        }

        .myul {
            display: flex;
            align-items: stretch; /* Default */
            justify-content: space-between;
            width: 100%;
            margin: 0;
            padding: 0;
        }

        li {
            display: block;
            flex: 0 1 auto; /* Default */
            list-style-type: none;
        }

        .sm {
            font-size: 13px;
            color: #767676;
            display: block;
        }

        .box {
            background-color: whitesmoke;
            padding: 10px;
            max-width: 600px;
            border-width: 1px;
            border-radius: 5px;
            border-style: solid;
            border-color: #d7d7d7;
        }

        .row p {
            margin-bottom: 0px !important;
            padding: 20px 10px 10px 10px;
            font-size: 13px;
        }

        hr {
            border: 0px !important;
        }

        button {
        }

        .down {
            float: right;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">


            <div class="col-md-3">

                <div class="card">
                    <img class="card-img-top" width="100%" src="{{ user.profile.image.url }}">
                    <div class="card-body">

                        {{ user.profile.first_name }} {{ user.profile.last_name }}
                        @{{ user.username }}
                        {{ user.email }}

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <button type="button" data-toggle="collapse" data-target="#form"
                        class="btn btn-primary btn-lg btn-block">Create Event
                </button>
                <hr>
                <div class="collapse" id="form">
                    <div class="card card-body">
                        <form method="post" action="{% url 'createEvent' %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <label></label>
                                <div class="input-group">

                                    <input id="title" name="title" placeholder="Event Title" type="text"
                                           class="form-control here" required="required">
                                </div>
                            </div>
                            <div class="form-group">

                                <div class="input-group">

                                    <input id="location" name="location" placeholder="Location" type="text"
                                           class="form-control here" required="required">
                                </div>
                            </div>
                            <div class="form-group">

                                <div class="input-group">

                                    <input id="description" name="description" placeholder="Description" type="text"
                                           class="form-control here">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group date" id="datetimepicker" data-target-input="nearest">
                                    <input placeholder="Date Time: YYYY-MM-DD HH:MM" type="text" class="form-control"
                                           data-target="#datetimepicker" name="datetimepicker"/>
                                    
                                </div>
                            </div>
                            <div class="form-group">

                                <div class="input-group">

                                    <input id="url" name="url" placeholder="Image Url" type="text"
                                           class="form-control here">
                                </div>
                            </div>
                            <div class="form-group">
                                <button name="submit" type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                    <hr>
                </div>
                {% for event in events %}

                    <div class="row box">
                        <div style="padding-top:10px;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <i class="down fas fa-angle-down"></i>

                            <div class="row">
                                <div style="max-width:80px;padding-right:10px;"
                                     class="col-lg-2 col-md-62 col-sm-2 col-xs-4 ">
                                    <img src="{{ event.owner.profile.image.url }}" width="60px">
                                </div>
                                <div class="col-md-7">
                                    <span class="s"
                                          style="display: block;margin-top:0px;">{{ event.owner.profile.first_name }}</span>
                                    
                                    <a href="/event/{{ event.id }}">
                                        <span class="sm">{{ event.time }}</span>
                                    </a>
                                </div>
                                <div style="padding-top:10.75px;">
                                    {% joinbutton event request.user.profile %}


                                </div>
                            </div>
                            <hr>
                            <div class="row">

                                <h4>{{ event.title }}</h4>
                            </div>
                            <div class="row">
                                <p>
                                    {{ event.description }}
                                </p>
                                <img src="{{ event.url }}" style="width:100%; height:100%;"
                                     alt="Social picture"/>

                            </div>
                            <hr>
                            <div class="row">
                                <h5>Participants:</h5>
                                <div class="myul">
                                    {% for participant in event.participants.all %}
                                        <li>
                                            <img width="25px" src="{{ participant.image.url }}">
                                            {{ participant.fullname }}
                                        </li>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>















                    <!--
                    <div class="card">

                        <div class="card-header">
                            Sahibi : {{ event.owner.profile.first_name }}<br>{{ event.title }} <br>
                            Tarih: {{ event.time }} </div>
                        <div class="card-body">Katılanlar:<br>
                            {% for participant in event.participants.all %}
                                {{ participant.first_name }} {{ participant.last_name }}
                            {% endfor %}
                        </div>
                    </div> -->
                    <br>
                {% endfor %}

            </div>
            <div class="col-md-3">
                <h2>Upcoming Events</h2>
                {% for event in eventsUserParticipate %}
                    <div class="card">

                        <div class="card-header">
                            EventOwner : {{ event.owner.profile.first_name }}<br>{{ event.title }} <br>
                            Date: {{ event.time }} </div>
                        <div class="card-body">Participants:<br>
                            {% for participant in event.participants.all %}
                                {{ participant.first_name }} {{ participant.last_name }}
                            {% endfor %}
                        </div>
                    </div>
                    <br>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

