{% extends 'main/base.html' %}
{% load static %}
{% load event_extras %}
{% block style %}
    <style>

        body {
            background-color: #29abe2;
        }

        span {
            font-size: 14px;
            font-family: 'Open Sans', sans-serif !important;
        }

        .myul {
            display: flex;
            align-items: stretch; /* Default */
            justify-content: space-between;
            width: 100%;
            margin: 0;
            padding: 0;
        }

        li {
            display: block;
            flex: 0 1 auto; /* Default */
            list-style-type: none;
        }

        .sm {
            font-size: 13px;
            color: #767676;
            display: block;
        }

        .box {
            background-color: whitesmoke;
            padding: 10px;
            max-width: 1000px;
            margin: 0px auto;
            border-width: 1px;
            border-radius: 5px;
            border-style: solid;
            border-color: #d7d7d7;
        }

        hr {
            border: 0px !important;
        }

        button {
        }

        .down {
            float: right;
        }

        .twPc-div {
            background: #fff none repeat scroll 0 0;
            border: 1px solid #e1e8ed;
            border-radius: 6px;
            height: 200px;
            max-width: 340px;
        / / orginal twitter width: 290 px;
        }

        .twPc-bg {
            background-image: url("https://pbs.twimg.com/profile_banners/50988711/1384539792/600x200");
            background-position: 0 50%;
            background-size: 100% auto;
            border-bottom: 1px solid #e1e8ed;
            border-radius: 4px 4px 0 0;
            height: 95px;
            width: 100%;
        }

        .twPc-block {
            display: block !important;
        }

        .twPc-button {
            margin: -35px -10px 0;
            text-align: right;
            width: 100%;
        }

        .twPc-avatarLink {
            background-color: #fff;
            border-radius: 6px;
            display: inline-block !important;
            float: left;
            margin: -30px 5px 0 8px;
            max-width: 100%;
            padding: 1px;
            vertical-align: bottom;
        }

        .twPc-avatarImg {
            border: 2px solid #fff;
            border-radius: 7px;
            box-sizing: border-box;
            color: #fff;
            height: 72px;
            width: 72px;
        }

        .twPc-divUser {
            margin: 5px 0 0;
        }

        .twPc-divName {
            font-size: 18px;
            font-weight: 700;
            line-height: 21px;
        }

        .twPc-divName a {
            color: inherit !important;
        }

        .twPc-divStats {
            margin-left: 11px;
            padding: 10px 0;
        }

        .twPc-Arrange {
            box-sizing: border-box;
            display: table;
            margin: 0;
            min-width: 100%;
            padding: 0;
            table-layout: auto;
        }

        ul.twPc-Arrange {
            list-style: outside none none;
            margin: 0;
            padding: 0;
        }

        .twPc-ArrangeSizeFit {
            display: table-cell;
            padding: 0;
            vertical-align: top;
        }

        .twPc-ArrangeSizeFit a:hover {
            text-decoration: none;
        }

        .twPc-StatValue {
            display: block;
            font-size: 18px;
            font-weight: 500;
            transition: color 0.15s ease-in-out 0s;
        }

        .twPc-StatLabel {
            color: #8899a6;
            font-size: 10px;
            letter-spacing: 0.02em;
            overflow: hidden;
            text-transform: uppercase;
            transition: color 0.15s ease-in-out 0s;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <img class="user" width="100%" src="{{ User.profile.image.url }}">
                    </div>
                    <div class="col-md-9">
                        {{ frequestButton }}


                        <h2>{{ User.profile.first_name }} {{ User.profile.last_name }}</h2>
                        <a href="{{ User.username }}">
                            <h3>@{{ User.username }}</h3>
                        </a>

                        <p class="text-secondary">{{ User.email }}</p>
                    </div>

                </div>
                {% if User == request.user %}
                    <div class="text-right">
                        <a class="btn btn-primary" data-toggle="collapse" href="#collapseProfile" role="button">Edit
                            Profile</a>
                    </div>
                {% endif %}
                <div class="collapse" id="collapseProfile">
                    <div class="card-footer">
                        <form method="POST" action="{% url 'updateProfile' %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <fieldset class="form-group">
                                <legend class="border-bottom mb-4">Profile Info</legend>
                                {{ u_form.as_ul }}
                                {{ p_form.as_ul }}
                            </fieldset>
                            <div class="form-group">
                                <button class="btn btn-info" type="submit">Update</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <h4>{{ User.profile.first_name }}'s Friends:</h4>
                {% for friend in friends %}
                    <a href="{{ friend.user.username }}">
                        <img src="{{ friend.image.url }}" width="50px">{{ friend.first_name }}
                    </a>
                {% endfor %}
            </div>
        </div>
        <br>


        {% for event in events %}

            <div class="row box">
                <div style="padding-top:10px;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <i class="down fas fa-angle-down"></i>

                    <div class="row">
                        <div style="max-width:80px;padding-right:10px;"
                             class="col-lg-2 col-md-62 col-sm-2 col-xs-4 ">
                            <a href="/{{ event.owner.profile.user.username }}">
                                <img src="{{ event.owner.profile.image.url }}" width="60px">
                            </a>
                        </div>
                        <div class="col-md-7">
                                    <span class="s"
                                          style="display: block;margin-top:0px;">
                                        <a href="/{{ event.owner.profile.user.username }}">
                                        {{ event.owner.profile.fullname }}
                                        </a>
                                    </span>

                            <a href="/event/{{ event.id }}">
                                <span class="sm">{{ event.time }}</span>
                            </a>
                        </div>
                        <div style="padding-top:10.75px;">
                            {% joinbutton event request.user.profile %}


                        </div>
                    </div>
                    <hr>

                    <a href="/event/{{ event.id }}">
                        {{ event.title }}
                    </a>
                    <p>
                        {{ event.description }}
                    </p>
                    <div class="row">

                        <img src="{{ event.url }}" style="width:100%; height:100%;"
                             alt="Social picture"/>

                    </div>
                    <hr>
                    {% if event.participants.count > 0 %}
                        <div class="row">
                            <h5>Participants:</h5>
                            <div class="myul">
                                {% for participant in event.participants.all %}
                                    <li>
                                        <img width="25px" src="{{ participant.image.url }}">
                                        {{ participant.fullname }}
                                    </li>
                                {% endfor %}
                            </div>
                        </div>
                    {% else %}
                        <div class="row">
                            <h5>Participants:</h5>
                            <div class="myul">
                                <li>
                                    There is no participants :(
                                </li>

                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            <br>
        {% endfor %}


    </div>
{% endblock %}
