{% extends 'main/base.html' %}
{% load static %}

{% block style %}
    <style>
        body {
            background: url({% static 'main/img/pattern.png' %});
        }

        .test {
            background: #e6e6e6;
        }
    </style>
{% endblock %}

{% block content %}
    <br>
    <div class="container">
        <header class="test jumbotron">
            <h3 class="display-3">Hi there!</h3>
            <p class="lead"><b>Let's Meet</b> is a brand new platform that allows you to create your meetings in an easy and
                fun way. </p>
            <p class="lead">
                You can log in if you have registered.
            </p>
            <p class="lead">
                Sign up now if you are not yet a member.
            </p>
            <a href="{% url 'register' %}" class="btn btn-success btn-lg">Sign up</a>
            <a href="" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                Login
            </a>
        </header>
    </div>

{% endblock %}

